@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 29% 95%;
    --foreground: 215 28% 17%;
    --card: 158 29% 99%;
    --card-foreground: 215 28% 17%;
    --popover: 158 29% 99%;
    --popover-foreground: 215 28% 17%;
    --primary: 158 25% 58%;
    --primary-foreground: 215 28% 10%;
    --secondary: 158 20% 88%;
    --secondary-foreground: 215 28% 10%;
    --muted: 158 20% 92%;
    --muted-foreground: 215 28% 40%;
    --accent: 10 82% 69%;
    --accent-foreground: 355 100% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 20% 80%;
    --input: 158 20% 85%;
    --ring: 158 25% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 10%;
    --foreground: 158 29% 95%;
    --card: 215 28% 12%;
    --card-foreground: 158 29% 95%;
    --popover: 215 28% 10%;
    --popover-foreground: 158 29% 95%;
    --primary: 158 25% 58%;
    --primary-foreground: 215 28% 10%;
    --secondary: 215 28% 20%;
    --secondary-foreground: 158 29% 95%;
    --muted: 215 28% 20%;
    --muted-foreground: 158 29% 75%;
    --accent: 10 82% 69%;
    --accent-foreground: 355 100% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 158 25% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
